@import '../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css';

.core-main-view {
  height: 100%;
}

.core-side-panel {
  height: 100%;
  overflow-x: hidden;
  padding: 30px;
}

.nav-menu-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: large;
}

.slider.slider-horizontal {
  width: 100%;
}
